    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 copyright">
                    <p>Open Sourced by Tatool. Hosted at the ETH Decision Science Laboratory.</p>
                </div>
                <div class="col-sm-4">
                    <p><a ui-sref="doc"><i class="fa fa-book"></i> Documentation</a></p>
                </div>
                
<div class="pull-right">
    <a href="http://github.com/tatool/tatool-web" class="github-icon" target="_blank"><i class="fa fa-github fa-2x"></i></a>
</div>

<div ng-include="getMode()!=='lab' ? 'ga.html' : null"></div>

            </div>
        </div>
    </footer>